services:
  web_ai:
    image: ghcr.io/leolionart/webai-to-api:latest
    container_name: web_ai_server
    restart: always
    ports:
      - "6969:6969"
    environment:
      - PYTHONPATH=/app/src
      - CONFIG_PATH=/app/data/config.conf
    volumes:
      - ./config.conf:/app/data/config.conf
    command: uvicorn app.main:app --host 0.0.0.0 --port 6969 --workers 1 --log-level info
